@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "joao@gmail.com";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Email"]</p>

<p>Use this page to detail your site's privacy policy.</p>
